@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./forms.css);

:root {
  --color-black: #292e3d;
  --bg-color: #fffaf8;
  --color-grey: #bdbdbd;
  --color-orange: #ff7235;
  --font-family: Hind Siliguri;
}
