body {
  font-family: Hind Siliguri, sens-serif;
}
/* .container_box{
  display: flex;
  gap:50px;
} */
.content_info {
  margin: 50px auto;
  width: 1150px;
  height: 192px;
  display: flex;
  gap: 40px;
}

.content_title {
  max-width: 730px;
  max-height: 192px;
  font-size: 96px;
  font-weight: 700;
  line-height:1;

  color: var(--black);
}

.content_dscr span{
  max-width: 350px;
  max-height: 156px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.62;
  color: var(--grey);
}

.product {
  width: 1110px;
  height: 350px;
  display: flex;
  column-gap: 30px;
}
.product_box {
  border-radius: 12px;
  width: 350px;
  height: 350px;
  padding: 100px 50px;
  text-align: center;
}
.product_box:hover {
  box-shadow: 0px 0px 50px 0px #0000000a;
}
.product_box.cloud:hover {
  box-shadow: 0px 0px 50px 0px rgb(196, 196, 241);
}

.info_box {
  margin-top: 30px;
  margin-left: 10px;
  width: 220px;
  height: 88px;
}
.info_box h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: var(--black);
}
.info_box span {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: var(--grey);
}

.icon_cloud {
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--bg_color_icon);
  background-image: url(../img_prod/ic_cloud.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 40px;
  margin: auto;
}
.icon_cross {
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--bg_color_icon);
  background-image: url(../img_prod/ic_cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 40px;
  margin: auto;
}

.icon_js {
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--bg_color_icon);
  background-image: url(../img_prod/ic_js.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 40px;
  margin: auto;
}
.arrow_ic {
  position: relative;
  padding-left: 110px;
}

.arrow_ic::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;

  transition: all 0.3s ease-in-out;
  mask-image: url(../img_prod/arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: var(--black);
}
.arrow_ic:hover::after {
  background-color: var(--grey);
}
